In [165]:
import pandas as pd
import time
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from bs4 import BeautifulSoup as bs

In [398]:
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))

In [399]:
page_url = 'https://www.usnews.com/news/best-states/rankings/natural-environment/pollution'
driver.get(page_url)

In [400]:
time.sleep(5)

from selenium.webdriver.common.by import By

driver.find_element(By.XPATH, '//button[text()="Agree"]').click()

In [86]:
time.sleep(5)

from selenium.webdriver.common.by import By

driver.find_element(By.XPATH, '//button/div[text()="Expand List"]').click()

In [401]:
soup = bs(driver.page_source, "html.parser")

In [402]:
table_head = soup.thead

In [403]:
row_headers = []
for x in table_head.find_all('p'):
    row_headers.append(x.text)
row_headers

['Rank', 'State', 'Low Industrial Toxins', 'Low Pollution Health Risk']

In [404]:
table_body = soup.tbody

In [405]:
rows = []
for x in table_body.find_all('tr')[1:]:
    td_tags = x.find_all('td')
    span_tags = x.find_all('span', class_="Span-sc-19wk4id-0 fgWqyH")
    span_val = [y.text for y in span_tags]
    rows.append(span_val)
rows

[['1', 'VermontVermont', '1', '1'],
 ['2', 'New HampshireNew Hampshire', '2', '8'],
 ['3', 'South DakotaSouth Dakota', '3', '7'],
 ['4', 'New MexicoNew Mexico', '4', '2'],
 ['5', 'WyomingWyoming', '5', '5'],
 ['6', 'CaliforniaCalifornia', '8', '13'],
 ['7', 'Rhode IslandRhode Island', '13', '4'],
 ['8', 'MaineMaine', '12', '9'],
 ['9', 'ColoradoColorado', '9', '15'],
 ['10', 'IdahoIdaho', '17', '6'],
 [],
 ['11', 'New YorkNew York', '14', '12'],
 ['12', 'NebraskaNebraska', '7', '18'],
 ['13', 'HawaiiHawaii', '20', '10'],
 ['14', 'MinnesotaMinnesota', '10', '21'],
 ['15', 'MontanaMontana', '19', '14'],
 ['16', 'MarylandMaryland', '21', '11'],
 ['17', 'MassachusettsMassachusetts', '15', '22'],
 ['18', 'WashingtonWashington', '16', '24'],
 ['19', 'North DakotaNorth Dakota', '24', '16'],
 ['20', 'WisconsinWisconsin', '23', '25'],
 [],
 ['21', 'ArizonaArizona', '27', '17'],
 ['22', 'OklahomaOklahoma', '18', '31'],
 ['23', 'KansasKansas', '11', '35'],
 ['24', 'MissouriMissouri', '28', '26'],
 ['25', 'IowaIowa', '25', '30'],
 ['26', 'GeorgiaGeorgia', '29', '28'],
 ['27', 'FloridaFlorida', '32', '23'],
 ['28', 'MississippiMississippi', '38', '19'],
 ['29', 'AlaskaAlaska', '40', '3'],
 ['30', 'ConnecticutConnecticut', '22', '41'],
 [],
 ['31', 'North CarolinaNorth Carolina', '36', '27'],
 ['32', 'VirginiaVirginia', '30', '34'],
 ['33', 'South CarolinaSouth Carolina', '37', '32'],
 ['34', 'MichiganMichigan', '39', '29'],
 ['35', 'KentuckyKentucky', '34', '33'],
 ['36', 'ArkansasArkansas', '31', '43'],
 ['37', 'West VirginiaWest Virginia', '35', '40'],
 ['38', 'New JerseyNew Jersey', '43', '20'],
 ['39', 'PennsylvaniaPennsylvania', '33', '44'],
 ['40', 'TexasTexas', '26', '48'],
 [],
 ['41', 'AlabamaAlabama', '41', '39'],
 ['42', 'IllinoisIllinois', '42', '36'],
 ['43', 'TennesseeTennessee', '44', '45'],
 ['44', 'OregonOregon', '6', '50'],
 ['45', 'OhioOhio', '46', '42'],
 ['46', 'UtahUtah', '45', '46'],
 ['47', 'DelawareDelaware', '49', '38'],
 ['48', 'IndianaIndiana', '50', '37'],
 ['49', 'NevadaNevada', '47', '47'],
 ['50', 'LouisianaLouisiana', '48', '49']]

In [406]:
states_df = pd.DataFrame(rows, columns = row_headers)
states_df['State'] = states_df['State'].replace(['WashingtonWashington', 'MinnesotaMinnesota','UtahUtah','New HampshireNew Hampshire','IdahoIdaho','NebraskaNebraska',
  'VirginiaVirginia','WisconsinWisconsin','MassachusettsMassachusetts','FloridaFlorida','VermontVermont','IowaIowa',
  'North CarolinaNorth Carolina','North DakotaNorth Dakota','South DakotaSouth Dakota','ColoradoColorado','MarylandMaryland',
  'GeorgiaGeorgia','New JerseyNew Jersey','ConnecticutConnecticut','New YorkNew York','OregonOregon','DelawareDelaware','CaliforniaCalifornia',
  'HawaiiHawaii','KansasKansas','MaineMaine','MissouriMissouri','TennesseeTennessee','IllinoisIllinois','TexasTexas',
  'IndianaIndiana','MontanaMontana','Rhode IslandRhode Island','WyomingWyoming','OhioOhio','NevadaNevada','MichiganMichigan',
  'ArizonaArizona','PennsylvaniaPennsylvania','KentuckyKentucky','South CarolinaSouth Carolina','OklahomaOklahoma','ArkansasArkansas',
  'AlaskaAlaska','AlabamaAlabama','West VirginiaWest Virginia','New MexicoNew Mexico','MississippiMississippi','LouisianaLouisiana'], ['Washington', 'Minnesota','Utah','New Hampshire','Idaho','Nebraska',
  'Virginia','Wisconsin','Massachusetts','Florida','Vermont','Iowa',
  'North Carolina','North Dakota','South Dakota','Colorado','Maryland',
  'Georgia','New Jersey','Connecticut','New York','Oregon','Delaware','California',
  'Hawaii','Kansas','Maine','Missouri','Tennessee','Illinois','Texas',
  'Indiana','Montana','Rhode Island','Wyoming','Ohio','Nevada','Michigan',
  'Arizona','Pennsylvania','Kentucky','South Carolina','Oklahoma','Arkansas',
  'Alaska','Alabama','West Virginia','New Mexico','Mississippi','Louisiana'])
states_df = states_df.mask(states_df.eq('None')).dropna()

In [407]:
states_data_cleaned = states_df.reset_index(drop=True)
states_data_cleaned

   Rank           State Low Industrial Toxins Low Pollution Health Risk
0     1         Vermont                     1                         1
1     2   New Hampshire                     2                         8
2     3    South Dakota                     3                         7
3     4      New Mexico                     4                         2
4     5         Wyoming                     5                         5
5     6      California                     8                        13
6     7    Rhode Island                    13                         4
7     8           Maine                    12                         9
8     9        Colorado                     9                        15
9    10           Idaho                    17                         6
10   11        New York                    14                        12
11   12        Nebraska                     7                        18
12   13          Hawaii                    20                        10
13   14       Minnesota                    10                        21
14   15         Montana                    19                        14
15   16        Maryland                    21                        11
16   17   Massachusetts                    15                        22
17   18      Washington                    16                        24
18   19    North Dakota                    24                        16
19   20       Wisconsin                    23                        25
20   21         Arizona                    27                        17
21   22        Oklahoma                    18                        31
22   23          Kansas                    11                        35
23   24        Missouri                    28                        26
24   25            Iowa                    25                        30
25   26         Georgia                    29                        28
26   27         Florida                    32                        23
27   28     Mississippi                    38                        19
28   29          Alaska                    40                         3
29   30     Connecticut                    22                        41
30   31  North Carolina                    36                        27
31   32        Virginia                    30                        34
32   33  South Carolina                    37                        32
33   34        Michigan                    39                        29
34   35        Kentucky                    34                        33
35   36        Arkansas                    31                        43
36   37   West Virginia                    35                        40
37   38      New Jersey                    43                        20
38   39    Pennsylvania                    33                        44
39   40           Texas                    26                        48
40   41         Alabama                    41                        39
41   42        Illinois                    42                        36
42   43       Tennessee                    44                        45
43   44          Oregon                     6                        50
44   45            Ohio                    46                        42
45   46            Utah                    45                        46
46   47        Delaware                    49                        38
47   48         Indiana                    50                        37
48   49          Nevada                    47                        47
49   50       Louisiana                    48                        49

In [408]:
states_data_cleaned.to_csv(r"C:\Users\Nathan\Documents\Python Projects\Mcadams Projects\Best Locations\data\us news data\states_natural_environment_pollution_data.csv", index=False)